<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx.xsd 
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
           
    <!-- 使用 annotation -->
    <context:annotation-config/>
    
    <!-- aspectj使用 -->
    <aop:aspectj-autoproxy/>
    
    <!-- 使用 annotation 自动注册bean,并检查@Controller, @Service, @Repository注解已被注入 -->   
    <context:component-scan base-package="com.gaoyuan"></context:component-scan>
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:proxool.properties</value>
			</list>
		</property>
		
		
		
  
	</bean>
	
	<!-- 数据库配置 --> 
	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource" 
	 		destroy-method="close">
		<property name="driver" value="${driver}"/>
		<property name="driverUrl" value="${driverUrl}"/>
		<property name="user" value="${user}"/>
		<property name="password" value="${password}"/>
		<property name="alias" value="${alias}"/>
		<property name="houseKeepingSleepTime" value="${houseKeepingSleepTime}"/>
		<property name="houseKeepingTestSql" value="${houseKeepingTestSql}"/>
		<property name="maximumConnectionCount" value="${maximumConnectionCount}"/>
		<property name="minimumConnectionCount" value="${minimumConnectionCount}"/>
		<property name="simultaneousBuildThrottle" value="${simultaneousBuildThrottle}"/>
		<property name="prototypeCount" value="${prototypeCount}"/>
		<property name="testBeforeUse" value="${testBeforeUse}"/>
		<property name="testAfterUse" value="${testAfterUse}"/>
	</bean>
	
	<!-- sessionFactory -->  
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" >
		<property name="dataSource" ref="dataSource"/>
		
		<!-- 包扫描的方式加载注解类(推荐) -->  
  		<property name="packagesToScan" value="com.gaoyuan.bean"/> 	
  			
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
				hibernate.hbm2ddl.auto=update
				hibernate.show_sql=false
				hibernate.format_sql=false
				hibernate.cache.use_second_level_cache=true
				hibernate.cache.user_query_cache=false
				hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
				hibernate.autoReconnect=true
				hibernate.autoReconnectForPools=true
				hibernate.is-connection-validation-required=true
			</value>
		</property>
		
	</bean>
	
	<!--JDBC事务管理器,根据你的情况使用不同的事务管理器,如果工程中有Hibernate,就用Hibernate的事务管理器 --> 
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 用注解来实现事务管理 -->  
	<tx:annotation-driven transaction-manager="txManager"/>
	
<!-- 	<bean id="dynamicBeanReader" init-method="init" class="com.wff.office.multidb.DynamicBeanReaderImpl"/> -->
	<bean id="myAspects" class="com.gaoyuan.aop.ChangeDB"/>
	<bean id="myDb" class="com.gaoyuan.aop.MyDbImpl"/>
	
	
</beans>

